<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="description"
        content="Series of 333 unique Baby Ape NFTs. Collection is called Baby Ape Boat Club. Find out more about our project.">
    <meta name="keywords"
        content="NFT, Baby Ape Boat Club, Baby Ape, Ape NFT, BABC, BABC Club, NFT charity, NFT roadmap, NFT rarity wall, BABC rarity wall, BABC roadmap, Baby Apes, Baby Apes crypto">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/Graphics/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Graphics/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Graphics/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Graphics/favicon/site.webmanifest">
    <link rel="mask-icon" href="/Graphics/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <!-- Swiper css -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/queries.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Baby Ape Boat Club</title>
</head>

<body id="ss">
    <div class="cursor"></div>

    <header>
        <nav class="navbar flex">
            <div class="logo">
                <a href="/index.html">
                    <img class="logo-image" src="/Graphics/Logo/B_A_B_C_img.png" alt="Logo">
                </a>
            </div>
            <!-- <div class="navbar__links flex">
                    <a class="a-btn underline cursor-scale small-scale" href="https://babyapemutantclub.art/">Enter our
                        Mutantverse</a>
                    <a class="a-btn underline cursor-scale small-scale"
                        href="https://opensea.io/collection/baby-ape-boat-club">open sea</a>
                </div> -->
        </nav>
    </header>