<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button cursor-scale small-scale">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">

        <ul class="navigation__list">

            <li class="navigation__item"><a href="/index.html"
                    class="navigation__link cursor-scale blend-lighten">Home</a></li>
            <li class="navigation__item"><a href="charity.html"
                    class="navigation__link cursor-scale blend-lighten">charity</a></li>
            <li class="navigation__item"><a href="rarity.html"
                    class="navigation__link cursor-scale blend-lighten">Rarity Wall</a></li>
            <li class="navigation__item"><a href="#section-roadmap"
                    class="navigation__link cursor-scale blend-lighten">Roadmap</a></li>
            <li class="navigation__item"><a href="#team-members"
                    class="navigation__link cursor-scale blend-lighten">Team</a></li>
            <li class="navigation__item"><a href="#faq"
                    class="navigation__link cursor-scale blend-lighten">Social</a></li>
            <li class="navigation__item"><a href="#faq" class="navigation__link cursor-scale blend-lighten">FAQ</a>
            </li>

        </ul>

    </nav>
</div>