/* header */
/* navigation bar */
.navbar {
    height: 6.5rem;
    margin: 4.5rem 4.5rem;

    &.flex {
        justify-content: space-between;
    }

    &__links {
        margin-right: 8%;
        &.flex {
            gap: 8rem;
        }
    }

    @include respond(phone) {
        margin: 4.5rem 1.5rem;
    }
}

.logo {
    img {
        height: 8rem;
        width: 11rem;
        margin-bottom: -1.5rem;
    }
}