// .showcase-bg {
//   background: $color-showcase;
//   background: linear-gradient(0deg, rgba($color-goals, .5) 0%, rgba(191, 239, 255, .5) 25%, rgba(255, 255, 255, 1) 100%);
// }

// .goals-bg {
//   background: $color-goals;
//   background: linear-gradient(0deg, rgba($color-charity, .5) 0%, rgba($color-goals, .5) 32%, rgba($color-goals, .5) 72%, rgba($color-goals, .5) 100%);
// }

// .charity-bg {
//   background: $color-charity;
//   background: linear-gradient(0deg, rgba($color-rarity, .5) 0%, rgba($color-charity, .5) 32%, rgba($color-charity, .5) 72%, rgba($color-charity, .5) 100%);
// }

// .rarity-bg {
//   background: $color-rarity;
//   background: linear-gradient(0deg, rgba($color-roadmap, .5) 0%, rgba($color-rarity, .5) 32%, rgba($color-rarity, .5) 72%, rgba($color-rarity, .5) 100%);
// }

// .roadmap-bg {
//   background: $color-roadmap;
//   background: linear-gradient(0deg, rgba($color-team, .5) 0%, rgba($color-roadmap, .5) 32%, rgba($color-roadmap, .5) 72%, rgba($color-roadmap, .5) 100%);
// }

// .team-bg {
//   background: $color-team;
//   background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba($color-team, .5) 32%, rgba($color-team, .5) 72%, rgba($color-team, .5) 100%);
// }

.section {
  color: $color-primary-dark;
  overflow-x: hidden;
  &[data-bg="yellow"] { color: #333; }
}


/* container */
.container {
  margin: 0 16rem;

  @include respond(desktop18) {
    margin: 0 10rem;
  }

  @include respond(tab-land) {
    margin: 0 4.5rem;
  }

  @include respond(phone) {
    margin: 0 2rem;
  }

}

/* margin for Sections */
.page-divider {
  padding-bottom: 30rem;

  @include respond(desktop17) {
    padding-bottom: 20rem;
  }

  @include respond(tab-land) {
    padding-bottom: 15rem;
  }
}

.black {
  background-color: $color-primary-dark;
  color: $color-primary-light;
}

/* Flex and Grid */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// margins
.m-top-1 {
  margin-top: 1rem;
}

.m-top-2 {
  margin-top: 2rem;
}

.m-top-3 {
  margin-top: 3rem;
}

.m-top-4 {
  margin-top: 4rem;
}

.m-top-5 {
  margin-top: 5rem;
}

.m-top-6 {
  margin-top: 6rem;
}

.m-top-7 {
  margin-top: 7rem;
}

.m-top-8 {
  margin-top: 8rem;
}

.m-top-9 {
  margin-top: 9rem;
}

.m-top-10 {
  margin-top: 10rem;
}

.m-top-11 {
  margin-top: 11rem;
}

.m-top-12 {
  margin-top: 12rem;
}

.m-top-13 {
  margin-top: 13rem;
}

.m-top-14 {
  margin-top: 14rem;
}

.m-top-15 {
  margin-top: 15rem;
}

.m-top-16 {
  margin-top: 16rem;
}

.m-top-17 {
  margin-top: 17rem;
}

.m-top-18 {
  margin-top: 18rem;
}

.m-top-19 {
  margin-top: 19rem;
}

.m-top-20 {
  margin-top: 20rem;
}

// bottom
.m-bottom-1 {
  margin-bottom: 1rem;
}

.m-bottom-2 {
  margin-bottom: 2rem;
}

.m-bottom-3 {
  margin-bottom: 3rem;
}

.m-bottom-4 {
  margin-bottom: 4rem;
}

.m-bottom-5 {
  margin-bottom: 5rem;
}

.m-bottom-6 {
  margin-bottom: 6rem;
}

.m-bottom-7 {
  margin-bottom: 7rem;
}

.m-bottom-8 {
  margin-bottom: 8rem;
}

.m-bottom-9 {
  margin-bottom: 9rem;
}

.m-bottom-10 {
  margin-bottom: 10rem;
}

.m-bottom-11 {
  margin-bottom: 11rem;
}

.m-bottom-12 {
  margin-bottom: 12rem;

  @include respond(phone) {
    margin-bottom: 5rem;
  }
}

.m-bottom-13 {
  margin-bottom: 13rem;
}

.m-bottom-14 {
  margin-bottom: 14rem;

  @include respond(tab-land) {
    margin-bottom: 13rem;
  }

  @include respond(phone) {
    margin-bottom: 8rem;
  }
}

.m-bottom-15 {
  margin-bottom: 15rem;
}

.m-bottom-16 {
  margin-bottom: 16rem;

  @include respond(tab-land) {
    margin-bottom: 13rem;
  }

  @include respond(phone) {
    margin-bottom: 8rem;
  }
}

.m-bottom-17 {
  margin-bottom: 17rem;
}

.m-bottom-18 {
  margin-bottom: 18rem;
}

.m-bottom-19 {
  margin-bottom: 19rem;
}

.m-bottom-20 {
  margin-bottom: 20rem;
}