<%- include("partials/header") -%>
<%- include("partials/navigation") -%>

<!-- section one -->
<section class="section page-divider showcase-bg" data-bg="#BFEFFF">
    <div class="showcase m-top-16">
        <div class="heading m-bottom-16 container flex">
            <h4 class="cursor-scale small-scale">Welcome to Baby Ape Boat Club</h4>
            <h1 class="cursor-scale large-scale">The ONLY BAYC</h1>
            <h1 class="cursor-scale large-scale">Bored Ape Yacht Club</h1>
            <p class="cursor-scale small-scale">Derivative Project with Individually Licensed Permission from the
                owners.</p>
            <!-- <h1 class="cursor-scale large-scale">Hundreds of unique</h1>
                <h1 class="cursor-scale large-scale">NFT’s in the world</h1> -->

            <div class="showcase__links m-top-5 flex">
                <a class="a-btn underline cursor-scale small-scale" href="https://babyapemutantclub.art/">Enter our
                    Mutantverse</a>
                <a class="a-btn underline cursor-scale small-scale"
                    href="https://opensea.io/collection/baby-ape-boat-club">open sea</a>
            </div>
        </div>

        <div class="showcase__hero">
            <div class="showcase__hero-image parallax" data-depth='-.3'>

            </div>

        </div>
    </div>
</section>


















<!-- footer -->
<%- include("partials/footer") -%>