<%- include("partials/header") -%> <%- include("partials/navigation") -%>

<!-- section one -->
<section class="section page-divider showcase-bg" data-bg="#BFEFFF">
  <div class="showcase m-top-16">
    <div class="heading m-bottom-16 container flex">
      <h4 class="cursor-scale small-scale">Welcome to Baby Ape Boat Club</h4>
      <h1 class="cursor-scale large-scale">The ONLY BAYC</h1>
      <h1 class="cursor-scale large-scale">Bored Ape Yacht Club</h1>
      <p class="cursor-scale small-scale">
        Derivative Project with Individually Licensed Permission from the
        owners.
      </p>
      <!-- <h1 class="cursor-scale large-scale">Hundreds of unique</h1>
                <h1 class="cursor-scale large-scale">NFT’s in the world</h1> -->

      <div class="showcase__links m-top-5 flex">
        <a
          class="a-btn underline cursor-scale small-scale"
          href="https://babyapemutantclub.art/"
          >Enter our Mutantverse</a
        >
        <a
          class="a-btn underline cursor-scale small-scale"
          href="https://opensea.io/collection/baby-ape-boat-club"
          >open sea</a
        >
      </div>
    </div>

    <div class="showcase__hero">
      <div class="showcase__hero-image parallax" data-depth="-.3"></div>
    </div>
  </div>
</section>

<!-- section two -->
<section id="our-goal" class="section page-divider goals-bg" data-bg="#FEBBBB">
  <div class="goals container">
    <div class="heading m-bottom-14">
      <h1 class="uppercase cursor-scale large-scale">babc goals</h1>
    </div>

    <div class="goals__inn grid">
      <div class="goals__inner flex">
        <div class="paragraph-wrapper grid">
          <div class="goals__links flex">
            <form action="" method="" class="flex">
              <button
                class="button button-light cursor-scale blend-lighten slidePrev"
                type=""
                name=""
                value=""
              >
                <span class="button__circle"></span>
                <a
                  class="is-active active-btn"
                  data-btn="Community"
                  href="#our-goal"
                  >Community</a
                >
              </button>
              <button
                class="button button-light cursor-scale blend-lighten slideNext"
                type=""
                name=""
                value=""
              >
                <span class="button__circle"></span>
                <a class="is-active" data-btn="Future" href="#our-goal"
                  >Future</a
                >
              </button>
            </form>
          </div>

          <div class="goals__paragraph">
            <ul class="paragraph">
              <li class="paragraph__item bottom-to-top active-paragraph">
                <!-- <h1 class="item__heading">Community </h1> -->
                <article class="item__content">
                  <p>
                    We strongly believe that no other NFT community is as close
                    and friendly as this one. It makes sense. Communities with
                    10,000+ members will never be able to be as close as
                    communities with only 333 members. Join our Discord or
                    Telegram servers and have a chat with us :)
                  </p>
                </article>
              </li>

              <li class="paragraph__item bottom-to-top">
                <!-- <h1 class="item__heading">Future </h1> -->
                <article class="item__content">
                  <p>
                    We know that the future of NFTs is not just about posting a
                    new profile pictures on Twitter. We are familiar with
                    metaverse, virtual realities and much more. Year 2022 is
                    going to get our collection to a whole different level.
                    Connecting Metaverse and NFTs with children education is on
                    our list as well as NFT staking and other rewards!
                  </p>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="goals__image parallax">
        <div class="swiper goals-swiper" dir="rtl">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide cursor-scale large-scale"
              data-community="Community"
            >
              <div class="slide__img__community">
                <!-- <img src="/Graphics/Images/BabyApes/015.png" alt=""> -->
              </div>
            </div>
            <div
              class="swiper-slide cursor-scale large-scale blend-difference"
              data-future="Future"
            >
              <div class="slide__img__future">
                <!-- <img src="/Graphics/Images/future.jpeg" alt=""> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section three -->
<section id="charity" class="section page-divider charity-bg" data-bg="#BBFEFE">
  <div class="charity">
    <div class="heading m-bottom-14 container flex">
      <!-- <h4 class="cursor-scale small-scale">1 Million Dollar</h4> -->
      <h1 class="cursor-scale large-scale">Children charity</h1>
      <h1 class="cursor-scale large-scale">donation</h1>
    </div>

    <div class="charity__img container">
      <img src="Graphics/Images/charity-img.png" alt="" class="charity-img" />
    </div>

    <div class="charity__details grid container m-top-16">
      <div class="charity__details-about">
        <p>Target amount: 1,000,000$</p>
        <p>Donation date: <span class="date">17th of December 2022 </span></p>
        <p>Type: OpenSea auctions</p>
      </div>
      <div class="charity__details-paragrapgh">
        <p class="leading-paragrapgh">
          We have released 10 special and limited NFTs. These ten Baby Apes were
          created for one simple but very important purpose - to help thousands
          of children around the world. Only ten hero Baby Ape NFTs will be ever
          created. Bid on one or more of them to insure that less fortunate
          children have wonderful Christmas.
        </p>
        <a class="a-btn underline cursor-scale small-scale" href="charity.html"
          >Charity details</a
        >
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<%- include("partials/footer") -%>
