$color-primary-dark: #141414;
$color-primary-light: #fff;
$color-showcase: #BFEFFF;
$color-goals: #FEBBBB;
$color-charity: #BBFEFE;
$color-rarity: #FFEE9F;
$color-roadmap: #BFFFBE;
$color-team: #fdfec1;